
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}


:root{
  --primary-700: #1e6fb8; /* azul fuerte */
  --primary-500: #2491d1;
  --muted-bg: #f5f7fb;
  --card-shadow: 0 6px 18px rgba(21,40,60,0.06);
  --card-border: rgba(33,37,41,0.05);
  --accent-green: #2aa588;
}

* { box-sizing: border-box; }

html, body, app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--muted-bg);
  color: #203746;
}

/* Contenedor central ancho */
.app-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 28px;
}

/* Helpers */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card base look (reusable) */
.hack-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--card-border);
  padding: 26px;
}

